.direnv
/result
/.qmlls.ini
.vscode
.vscode/settings.json
.github/chatmodes/4.1-Beast.chatmode.md
.github/chatmodes/janitor.chatmode.md
.github/chatmodes/prompt-engineer.chatmode.md
build/
.cache/
logs